.footer
  %ul.footer__lists
    %li.footer__lists--list
      %h2 FURIMAについて
      %ul
        %li
          %a(href="") 会社概要（運営会社）
        %li
          %a(href="") プライバシーポリシー
        %li
          %a(href="") FURIMA利用規約
        %li
          %a(href="") ポイントに関する特約
    %li.footer__lists--list
      %h2 FURIMAを見る
      %ul
        %li
          %a(href="") カテゴリー一覧
        %li
          %a(href="") ブランド一覧
    %li.footer__lists--list
      %h2 ヘルプ＆ガイド
      %ul
        %li
          %a(href="") FURIMAガイド
        %li
          %a(href="") FURIMAロゴ利用ガイドライン
        %li
          %a(href="") お知らせ
  .footer__logo
    %a(href="")
      = image_tag ''
  %p © FURIMA