.wrapper
  = render 'shared/header'
  .sign_out
    .sign_out__box
      .sign_out__box__text
        =link_to"ログアウト", destroy_user_session_path, method: :delete


    = render"users/side_bar"      
  = render 'shared/footer'
  = render 'shared/camera'