.l-side
  %nav.l-side-bar
    %ul.l-side-bar-list
      %li.l-side-bar-list-item
        = link_to "マイページ"
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  お知らせ
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  やることリスト
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span いいね！一覧 
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  出品する
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  出品した商品-出品中
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span 出品した商品-取引中
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  出品した商品-売却済み
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  購入した商品-取引中
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  購入した商品-過去の取引
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  ニュース一覧
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  評価一覧
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  ガイド
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  お問い合わせ
        %i.fa.fa-chevron-right
    %h3.side-nav-head メルペイ
    %ul.l-side-bar-list
      %li.l-side-bar-list-item
        %span 売上・振込申請
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  ポイント
        %i.fa.fa-chevron-right
    %h3.side-nav-head 設定
    %ul.l-side-bar-list
      %li.l-side-bar-list-item
        %span  プロフィール
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  発送元・お届け先住所変更
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  お支払い方法
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span メール/パスワード
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        = link_to"本人情報", edit_user_registration_path
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span 電話番号の確認
        %i.fa.fa-chevron-right
      %li.l-side-bar-list-item
        %span  ログアウト
        %i.fa.fa-chevron-right