.card-show-wrappaer{
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  width: 700px;
  max-width: 343px;
}

.card-show-head{
  padding: 12px 4%;
  border-bottom: 1px solid #f5f5f5;
  font-size: 18px;
  text-align: center;
}

.card-show-inner{
  max-width: 343px;
  padding: 24px 16px 40px;
}

.add-card-btn{
  display: block;
  width: 100%;
  margin: 24px 0 0 0;
  line-height: 48px;
  background-color: #3CCACE;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  }