.edit-body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  text-align: center;

  &__main {
	width: 700px;
    margin: 0 auto;
    background-color: #ffffff;

    h2 {
	padding: 32px;
      border-bottom: solid 2px #f5f5f5;
      font-size: 22px;
    }

    label {
      font-weight: bolder;
      text-align: left;
    }

    .edit_user {
      padding: 24px 26px 40px;
      margin: 0 auto;
    }

    .main-field {
	  max-width: 343px;
	  margin: 0 auto;
  
	  .field-1 {
	  	margin: 0;
	  	text-align: left;
	    }
  
	  .field {
	  	margin: 30px 0 0;
	  	text-align: left;
	  }
	  
	  .field__password {
		margin: 30px 0 0;
		text-align: left;
	  }
	  .field-name {
	  	margin: 30px 0 0;
	  	text-align: left;
	  }

	  .field-detail {
		  margin: 30px 0 0;
		  text-align: left;
	  }
  
      .text-space {
	  	padding: 10px 16px 8px;
	  	margin: 8px 0 0;
	  	border-radius: 6px;
	  	border: 1px solid #ccc;
	  	line-height: 1.5;
	  	font-size: 16px;
	  	width: 100%;
	  }
  
	  #user_birth_date_1i {
	  	margin: 8px 0 0;
	  	width: 76px;
	  	height: 48px;
	  }
      
	  #user_birth_date_2i {
	  	margin: 8px 0 0;
	  	width: 76px;
	  	height: 48px;
	  }
      
	  #user_birth_date_3i {
	  	margin: 8px 0 0;
	  	width: 76px;
	  	height: 48px;
	  }
  
	  #user_address_attributes_prefecture_code {
	  	margin: 8px 0 0;
	  	width: 76px;
	  	height: 48px;
	  }
	  
	  .next-edit {
		margin: 50px 0 0;
		border: 1px solid #3CCACE;
		color: #fff;
		width: 343px;
		line-height: 48px;
		background: #3CCACE;
		cursor: pointer;
	  }
    }
  }
  
  p {
    margin: 20px 0 0;
  }

  .back {
	display: none;
  }
}
