// ヘッダー--------------------------------------------------------------------------------------------------------------
.header {
  height: 97.5469px;
  padding: 0 60px;
  &__contents {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__searches {
      display: flex;
      text-align: center;
      position: relative;
      &--search-logo {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a {
          width: 140px;
          display: block;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      &--search {
        margin-left: auto;
        width: 100%;
        form {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          input {
            width: calc( 100% - 26px );
            height: 36px;
            padding: 0 0 0 5px;
          }
          button {
            width: 36px;
            padding: 8px;
            background-color: #3CCACE;
            img {
              width: 100%;
              vertical-align: bottom;
              cursor: pointer;
            }
          }
        }
      }
    }
    
    &__nav {
      display: flex;
      margin-bottom: 10px;
      font-size: 14px;
      a {
        color: #333;
        line-height: 32px;
        padding-right: 30px;
        text-decoration: none;
      }
      &--left {
        display: flex;
        position: relative;
        &--category {
          text-decoration: none;
          padding: 0;
          line-height: 38px;
        }
        &--brand {
          position: fixed;
          line-height: 38px;
          left: 300px;
          padding: 0 0 0 16px;
        }
      }
      &--right {
        display: flex;
        margin-left: auto;
        &--login {}
        &--new {}
      }
    }
  }
}

.header__contents__nav--left--category {
  z-index: 5;
  left: 0px;
  .parent__list {
    background-color: rgb(255, 255, 255);
    width: 225px;
 }
}



  ul.category1{
    display: none;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 224px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    li{
    &:hover {
    background-color: #ea352d;
    a {
      color: #fff;
        }
      }
    }
  }
  
  ul.category2{
    display: none;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: none;
    left: 224px;
    position: absolute;
    top: 38px;
    width: 224px;
    cursor: pointer;
    text-align: center;
    li.child__list{
      background-color: rgb(255, 255, 255);
    a{
      color:#000;
    }
  }
    li{
      &:hover {
      background-color: #ea352d;
      a {
        color: #fff;
          }
        }
      }
    }
  
  
  ul.category3{
    display: none;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: none;
    left: 224px;
    position: absolute;
    top: 0px;
    width: 300px;
    cursor: pointer;
    text-align: center;
    li.grandchild__list{
      background-color: rgb(255, 255, 255);
      a{
        color:#000;
      }
    }
    li{
      &:hover {
      background-color: #ea352d;
      a {
        color: #fff;
          }
        }
      }
  }