// paddingなどの設定を行った場合、その要素全体のサイズが大きくなるのを防ぐ
* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}


// メイン--------------------------------------------------------------------------------------------------------------------
.main {
  width: 100vw;
  // 1-----------------------------------------------------------------------------------------------------------------------
  &--1 {
    align-items: center;
    position: relative;
    height: 560px;
    width: 100%;
    padding: 0 60px;
    background-image: image-url('pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-position: top center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      p {
        font-size: 18px;
        line-height: 1.77778;
        margin: 16px 0 0 0;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
    }
    &__btn {
      display: flex;
      margin: 24px 0 0 0;
    }
  }
  // 2--------------------------------------------------------------------------------------------------
  &--2 {
    padding: 60px 20px;
    width: 1440px;
    h2 {
      text-align: center;
      position: relative;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
    }
    ul {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 1020px;
      margin: 0 auto;
      li {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 16px 5% 0 0;
        .list__image {
          position: relative;
          margin-bottom: 20px;
          span {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            vertical-align: bottom;
            width: 289px;
          }
        }
        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  // 3-------------------------------------------------------------------------------------------------------
  &--3 {
    display: flex;
    align-items: center;
    height: 400px;
    width: 1440px;
    background-image: url('pict/bg-topMiddleDl-pict.jpg');
    background-size: cover;
    &__contents {
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      h2 {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      p {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
    }
  }
  // 4----------------------------------------------------------------------------------------------------------------
  &--4 {
    padding: 60px 100px;
    background-color: #fff;
    width: 1440px;
    h2 {
      position: relative;
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
    }
    ::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    &__contents {
      display: flex;
      flex-wrap: wrap;
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      section {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: calc( 1 / 3 * 100% );
        padding: 0 20px;
        figure {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        h3 {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        p {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  // 5-----------------------------------------------------------------------------------------------------------------------
  &--5 {
    padding: 80px;
    background-color: #f8f8f8;
    height: 100%;
    width: 1440px;
    h2 {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__contents {
      &--header {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3 {
            font-weight: bold;
          }
        }
      }
      &--lists {
        display: flex;
        justify-content: space-around;
        width: 780px;
        margin: 26px auto;
        &--list {
          display: inline-block;
          float: left;
          width: 220px;
          a {
            display: inline-block;
            background-color: #fff;
            figure {
              position: relative;
              z-index: auto;
              width: 220px;
              height: 150px;
              margin: 0;
              overflow: hidden;
              img {
                height: 150px;
                width: 100%;
              }
            }
            .main--5__contents--lists--list__content {
              padding: 16px;
              background-color: white;
              color: #333;
              h3 {
                text-align: left;
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
              }
              &__detail {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}