.registration-body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  text-align: center;

  &__main {
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
  
  h2 {
    padding: 32px;
    border-bottom: solid 2px #f5f5f5;
    font-size: 22px;
  }

  label {
    font-weight: bolder;
    text-align: left;
  }
  .new_user {
    padding: 24px 26px 40px;
    margin: 0 auto;
  }
  .main-field {
  max-width: 343px;
  margin: 0 auto;

    .text-space {
      padding: 10px 16px 8px;
      margin: 8px 0 0;
      border-radius: 6px;
      border: 1px solid #ccc;
      line-height: 1.5;
      font-size: 16px;
      width: 100%;
    }

    .field-1 {
      margin: 0;
      text-align: left;
    }

    .field-user {
      margin: 30px 0 0;
      text-align: left;
    }

    .field-name {
      margin: 0;
    }

    #user_birth_date_1i {
      margin: 8px 0 0;
      width: 76px;
      height: 48px;
    }

    #user_birth_date_2i {
      margin: 8px 0 0;
      width: 76px;
      height: 48px;
    }

    #user_birth_date_3i {
      margin: 8px 0 0;
      width: 76px;
      height: 48px;
    }

    .form-require {
      margin: 0 0 0 8px;
      padding: 2px 4px;
      width: 40px;
      border-radius: 2px;
      color: #fff;
      background-color: #3CCACE;
      vertical-align: top;
      font-size: 12px;
    }

  
    #user_address_attributes_prefecture_code {
      margin: 8px 0 0;
      width: 76px;
      height: 48px;
    }
  }
  
  .note {
    margin: 8px 0 0;
    color: #888;
  }
  .next-new {
    margin: 24px 0 0;
    border: 1px solid #3CCACE;
    color: #fff;
    width: 343px;
    line-height: 48px;
    background: #3CCACE;
    cursor: pointer;
  }
 }
}

.field_with_errors{
	display: inline;

  #user_birth_date_1i {
    outline: 0;
	  border-color: red !important;
  }

  #user_birth_date_2i {
    outline: 0;
	  border-color: red !important;
  }

  #user_birth_date_3i {
    outline: 0;
	  border-color: red !important;
  }

   .text-space {
	 outline: 0;
   border-color: red !important;
   }

   #user_address_attributes_prefecture_code {
    outline: 0;
	  border-color: red !important;
  }
}
  .error-message {
    margin-top: 10px;
    color: red;
    text-align: left;
    }

    ul {
      display: inline;
    }

#child_form {
    outline:none;
    width: 620px;
    height: 48px;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
}

#grandchild_form {
    outline:none;
    width: 620px;
    height: 48px;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
}