.category-box {
  width: 700px;
  margin: 40px auto;

  &__index {
    background-color: #f5f5f5;

    .category-box {  
      font-size: 22px;
    
    }
      
    .parent_category {
      float: left;
      padding: 10px 30px;
      margin-top: 10px;
      margin-right: 10px;
      background-color: #fff;
      color: #333;
      font-size: 16px;
      border-radius: 5px;
    }
  
    .category_list {
      margin: 30px 0;
      background-color: #fff;

      &__box {

        .genre_list {
          text-align: center;
          border: 1px solid #3CCACE;
          background: #3CCACE;
          color: #fff;
          font-size: 27px;
          border-radius: 10px 10px 0 0;
          line-height: 40px;
        }
         
        .children_box {
          padding: 24px 30px 10px 30px;

          .child_list {
            padding-top: 15px;
            padding-bottom: 5px;
          }
        }

        .grandchild_box {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
          overflow: hidden;

          &__list {
            float: left;
            width: 50%;
            padding: 0 20px 0 0;
          
            &__index {
              margin-top: 8px;
              margin-bottom: 8px;
              font-size: 16px;
            
              .grandchild_category {
                color: #0099e8;
              }
            }
          }
        }
      }
    }
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
 