body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  .wrapper{
    .container-mypage {
      width: 1020px;
      margin: 0px auto 0;
      &__content {
        float: right;
        width: 700px;
        &-usericon {
          position: relative;
          height:200px;
          padding-top: 70px;
          background-image: image-url("background3.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          img {
            width: 60px;
            height: 60px;
            margin-left: 320px;
            border-radius: 50%; 
          }
          .user {
            height: 30px;
            font-weight: bold;
            text-align: center;
            a{
              color: black;
            }
          }
          .user-number {
            width: 500px;
            padding-left: 290px;
            font-weight: 545;
            .user-number-evaluation {
              float: left;
              width:70px;
              height: 16px;
            }
            .user-number-exhibition {
              display: inline-block;
              width: 70px;
              height: 16px;
            }
          }
        }
        .news{
          margin: 0;
          &-active{
            display:flex;
            width: 100%;
            height: 74px;
            line-height: 330%;
            border: none;
            background-color: white;
            font-size: 22px;
            text-align:center;
            &__notice{
              display: inline-block;
              width: 100%;
              border-top: 2px solid red;
              font-size: 16px;
            }
          }
        }
        .new{
          margin: 0;
          padding: 0;
          background-repeat: no-repeat;
          .news{
            display: none;
            width:700px;
            height: 236px;
            background-image: image-url("mypage.yarukotolist.png");
            &-contents-image{
              width:600px;
              height: 200px;
              background-size: 80px;
            }
          }
          &-content{
            display: block;
            &-message{
              display: flex;
              position: relative;
              min-height: 70px;
              padding: 10px;
              border: 1px solid #eee;
              background-color: white;
              color:#333;
              &:hover{
                background-color: #eee;
              }
              img{
                width: 50px;
                height: 50px;
              }
              .fa.fa-chevron-right{
                position: absolute;
                float: right;
                margin-right: 40px;
                top:50%;
                right: 16px;
              }
              &__text{
                margin: 0 40px 0 68px;
              }
            }
            &-message__all{
              margin-bottom: 40px;
              padding: 16px;
              border: 0;
              border-bottom: 1px solid #eee;
              background-color: white;
              &_buttom{
                display:block;
                height: 56px;
                line-height: 56px;
                margin: 0 auto;
                background-color: #eee;
                color: black;
                text-align: center;
                &:hover{
                  background-color:#fafafa;
                } 
              }  
            }
          }
        }
        .content-buy{
          background:#fff;
          border: 1px solid #eee;
          &-head{
            padding: 0 16px;
            background-color: #fafafa;
            font-size:16px;
            line-height:72px;
            font-weight: bold;
          }
          &-new{
            border:0px;
            background: #eee;
            height: 72px;
            font-size: 16px;
            font-weight:600;
            width:100%;
            text-align: center;
            line-height: 5;
            border-top:2px solid red;
            &__latest{
              background-color:white;
              width: 100%;
              font-size: 16px;
              font-weight: 600px;
              line-height: 5;
              text-align: center;
            }
          }
          &_buttom{
            width: 500px;;
            background-repeat: no-repeat;
            margin-left: 150px;
            background-size: 70%;
          }    
        }
        .content-buy{
          .list-content-transaction{
            .listing-buy-completed{
              height: 255px;
              width: 698px;
            }
          }
        }
      }
    }
  }
}